@import 'button.scss';
$color-bg: rgb(250, 250, 250);
$color-sep: #ababab;
$color-wrong: red;
$color-yedi: rgb(255, 171, 27);

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
    display: none;
    background-color: $color-bg;
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    flex-direction: column;
    margin: 0;
    #title {
        padding-bottom: 0.3em;
        border-bottom: 2px solid $color-sep;
    }
    .playset {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .letter-container {
        display: flex;
        justify-content: center;
        min-height: 8em;
        .lettertile {
            @include no-select;
            border-radius: 0.5em;
            border: 2px solid $color-sep;
            height: 4em;
            width: 4em;
            margin: 1em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .letter {
                margin-top: 0.5em;
                font-size: 2em;
            }
            .score {
                font-size: 0.8em;
                align-self: flex-end;
                margin-right: 0.5em;
            }
        }
    }
    .status {
        font-size: larger;
    }
    .results {
        display: flex;
        flex-direction: column;
        align-items: center;
        .entry {
            display: flex;
            justify-content: space-between;
            width: 50%;
            span {
                margin: 0.5em;
            }
            .guess {
                text-align: left;
            }
            .score {
                text-align: right;
            }
        }
        .incorrect {
            color: $color-wrong;
        }
        .fullmatch {
            color: $color-yedi;
        }
        .header {
            font-weight: bold;
            border-bottom: 1px solid black;
        }
    }
    .footer {
        position: absolute;
        width: 95%;
        bottom: 0%;
        margin: 0.5em;
        font-size: small;
        display: flex;
        justify-content: flex-end;
        .right {
            text-align: right;
            width: 40%;
        }
    }
}

#shuffle, #clear {
    background-color: #a9a9a9;
    &:hover {
        background-color: #6fc5ff;
        box-shadow: 0 0 20px #6fc5ff50;
    }
    &:active {
        background-color: #3d94cf;
        transition: all 0.25s;
        -webkit-transition: all 0.25s;
        box-shadow: none;
    }
}